:root {
    --container-bg-color: #FFF8AA; /* Initial background color */
}

/* Target only divs with the class gradient-background */
div.gradient-background {
    position: relative;
    width: 320px;
    height: 240px;
    background-color: var(--container-bg-color);
    zoom: 3; /* Scale up */
    image-rendering: pixelated; /* In case of images */
    overflow: hidden;
}

div.gradient-background #overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.gradient-background #overlay::before {
    content: "\00a0";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
    );
    mix-blend-mode: screen;
    z-index: 0;
}
