
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
  margin: 0;
}
.box {
  display: flex;
  color: white;
}
#topScreen {
  width: 400px;
  height: 240px;
  margin: auto;
}

#bottomScreen {
  width: 320px;
  height: 240px;
  margin: auto;
}

