################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testPages
/content/apps/mail/assets/sfx/part-time human.mp3
