body {
    background-image: url('../assets/images/wallpapers/frutigeraero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 10em;
    margin: 0;
}

/* Apply the title bar color only to elements with the .color class */
.color::before,
.color > .title-bar {
    background-color: var(--title-color);
}

#colorWindow {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 10;
}

[role="tabpanel"] {
    display: none !important;
}

[role="tabpanel"]:not([hidden]) {
    display: block !important;
}
